/* Estilos personalizados para o site */

html,
body {
  margin: 0;
  padding: 0;
}

.hero-logo {
  display: block;
  opacity: 1;
}

.hero-bg {
  background-color: #000;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 50;
}

.tail-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}